*{
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

.register-box{
    position: absolute;
    margin-top: 110px;
    margin-left: 300px;
    width: 330px;
    height: 362px;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #202020;
    padding-bottom: 45px;
}

.login-box{
    position: absolute;
    margin-top: 140px;
    margin-left: 300px;
    width: 330px;
    height: 312px;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #202020;
    padding-bottom: 45px;
}

.FN{
    margin-top: 10px;
}

.FN input{
    margin-top: 3px;
    width: 300px;
    padding: 10px;
    font-size: 15px;
    border-radius: 7px;
    border: 2px solid #4b4b4b;
    border-collapse: collapse;
    background-color: #202020;
    color: white;
}


.UN{
    margin-top: 10px;
}

.UN input{
    margin-top: 3px;
    width: 300px;
    padding: 10px;
    font-size: 15px;
    border-radius: 7px;
    border: 2px solid #4b4b4b;
    border-collapse: collapse;
    background-color: #202020;
    color: white;
}

.PS{
    margin-top: 10px;
}

.PS input{
    margin-top: 3px;
    width: 300px;
    padding: 10px;
    font-size: 15px;
    border-radius: 7px;
    border: 2px solid #4b4b4b;
    border-collapse: collapse;
    background-color: #202020;
    color: white;
}

.reflip{
    margin-top: 10px;
}

.apply-btn input{
    margin-top: 20px;
    width: 325px;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid #4b4b4b;
    border-collapse: collapse;
    background-color: #202020;
    color: white;
    font-weight: bold;
}

.save-btn input{
    margin-top: 20px;
    width: 325px;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid #4b4b4b;
    border-collapse: collapse;
    background-color: #202020;
    color: white;
    font-weight: bold;
}